<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>act</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to Audio Classifer Trainer</h1>
    <p>Click the button below to start recording and training your audio model.</p>
    <a href="{{ url_for('main.recording') }}">
        <button>Start</button>
   
    </a>
</body>
</html>
